<a href="https://colab.research.google.com/github/laya2002/assignment-7/blob/master/assignment_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

phyton program to find square root

In [ ]:
num = int(input("enter the value of num"))
num_sqrt = num ** 0.5
print('the square root of %0.3f is %0.3f'%(num ,num_sqrt))

enter the value of num5
the square root of 5.000 is 2.236

program to check if a numberis positive , negative or 0

In [ ]:
num = float(input("enter a number: "))
if num > 0:
  print("positive number")
elif num == 0:
  print("zero")
else:
  print("negative number")

enter a number: 5
positive number

phyton program to check leap year

In [ ]:
year = int(input("enter the year: "))
if (year % 4) == 0:
  if (year % 100) == 0:
    if (year % 400) == 0:
      print("{0} is a leap year". format(year))
    else:
      print("{0} is not a leap year". format(year))
  else:
    print("{0} is a leap year". format(year))
else:
  print("{0} is not a leap year". format(year))

enter the year: 2002
2002 is not a leap year

phyton program to print the fibonacci sequence

In [ ]:
n = int(input("how many terms"))
n1 = int(input("enter the starting value"))
n2 = int(input("enter the scond value"))
count = 0
if n <= 0:
 print("please enter a positive integer")
elif n == 1:
 print("fibonacci series upto",n,":")
 print(n1)
else:
  print("fibonnaci sequence:")
  while count < n:
    print(n1)
    nth = n1 + n2
  #updating the values
    n1 = n2
    n2 = nth
    count += 1

how many terms10
enter the starting value1
enter the scond value2
fibonnaci sequence:
1
2
3
5
8
13
21
34
55
89

program to check armstrong number

In [7]:
num = int(input("enter a number : "))
sum = 0
temp = num
while temp > 0:
  digit = temp % 10
  sum += digit ** 3
  temp //= 10
if num == sum:
  print(num,"is an armstrong number: ")
else:
  print(num,"is not an armtrong number")

enter a number : 162
162 is not an armtrong number

phyton program to find the armstrong in interval

In [8]:
lower = int(input("enter the starting value"))
upper = int(input("enter the ending value"))
for num in range(lower, upper + 1):
  order = len(str(num))
  sum = 0
  temp = num
  while temp > 0:
    digit = temp % 10
    sum += digit ** order
    temp //= 10
  if num == sum:
    print(num)

enter the starting value100
enter the ending value1000
153
370
371
407